span  Sie haben folgendes bestellt:
ul
  each val in items
    li= val.quantity + ' x ' + val.packaging.displayName + ' ' + val.name + ' ' + val.varietal

p Street: #{street}
p Zip: #{zip}
p City: #{city}
p Phone: #{phone}
p Message: #{message}
span Email:
a(href=`mailto:${email}` )  (#{email})
