p #{realname},
a(href=`mailto:${email}` )  (#{email})
span  hat folgendes bestellt:
ul
  each val in items
    li= val.quantity + 'X '  + val.packaging.displayName + ' '  + val.name

p Street: #{street}
p Zip: #{zip}
p City: #{city}
p Phone: #{phone}
p Message: #{message}
span Email: 
a(href=`mailto:${email}` )  (#{email})
